*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-color: #000;
    font-family: Helvetica;
}
main{
    max-width: 450px;
    margin: 0 auto;
}
.reel_main{
    width: 100%;
    height: 100vh;
    overflow: auto;
  scroll-snap-type: y mandatory;
}
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.reel {
    height: 100%;
    width: 100%;
    position: relative;
    scroll-snap-align: start;
}

.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 115px 10px 25px 10px;
    background: #000000;
background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(237, 221, 83, 0) 67%);
}
img.user {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: top;
    border-radius: 50px;
}
.bottom_head span {
    display: flex;
    align-items: center;
    color: #fff;
    gap: 8px;
}

.bottom_head button {
    border: 0;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    padding: 3px 8px;
    border-radius: 3px;
    line-height: normal;
    cursor: pointer;
}
.bottom_head {
    display: flex;
    align-items: center;
    gap: 14px;
}
.caption {
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    margin: 5px 0 0 0;
}
.right {
    position: absolute;
    right: 10px;
    bottom: 40px;
}
.icon i {
    font-size: 33px;
    color: #fff;
}
.icon_box {
    text-align: center;
    margin: 0px 0 25px 0;
    cursor: pointer;
}
.count {
    color: #fff;
}

.reel_main::-webkit-scrollbar {
  display: none;
}
i.love {
    color: #ff3040;
}